@import "compass/utilities/sprites";
@import "../images/*.png";

$blue:    #269abc;

.header{
  margin: 1em 0 1em;
}
.main-logo{
  @include images-sprite(glossybox_logo);
  width: images-sprite-width(glossybox_logo);
  height: images-sprite-height(glossybox_logo);
  margin-right: 1em;
}
div.main-title{
  background-color: $blue;
  color: #ffffff;
}

ul.nav-pills>li{
  a {
    color: $blue;
  }
  &.active a{
    background-color: $blue;
    &:hover{
      background-color: $blue;
    }
  }
}

h2, h3 {
  color: $blue !important;
}


.text-container{
  padding: 1.5em 3em;
}
.secondary-section{
  margin-top: 1em;
}
@media screen and (max-width: 300px){
  .secondary-section, .main-section{
    img{
      width: 100%;
    }
  }
}
.img-container{
  text-align: center;
}

@media screen and (max-width: 350px){
  .footer img{
    width: 100%;
  }
}

.footer{
  .img-container{
    margin-top: 0.5em;
  }
  padding-bottom: 2em;
}